.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #ffffee;
}

button {
  padding: 0.5em;
  background-color: tan;
  color: black;
}

.moveKanji {
  height: 152px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.quizLayout {
  border: 4px solid goldenrod;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
  margin: 1em auto;
  padding: 5%;
  justify-content: space-between;
}

.quizButton > button {
  font-size: 2em;
  flex-basis: auto;
  margin: 10%;
}

.allKanji > table {
  margin: 3em auto;
}

.dashboardStyle > table {
  margin: auto;
}

.progressBar {
  background-color: blue;
}
