.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #ffffee;
}

button {
  padding: 0.5em;
  background-color: tan;
  color: black;
}

.dashboardTable {
  background-color: tan;
  color: navy;
}

.dashboardTable td,
th {
  border: 2px solid blue;
  padding: 0.3em;
  margin: 0px;
}

.moveKanji {
  height: 152px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.quizLayout {
  border: 4px solid tan;
  display: grid;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
  margin: 1em auto;
  padding: 5%;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.quizButton > button {
  font-size: 2em;
  flex-basis: auto;
  margin: 10%;
  box-shadow: 0.2em 0.2em 0.1em 0.1em rgb(163, 138, 105);
}

.allKanji > table {
  margin: 3em auto;
}

.dashboardStyle > table {
  margin: auto;
}

progress {
  -webkit-appearance: none;
}
progress::-webkit-progress-bar {
  background-color: darkblue;
  border-radius: 1em;
  color: blue;
}

progressBar::-webkit-progress-value {
  background-color: blue;
}

progressBar::-moz-progress-bar {
  background-color: orange;
}

.practiceKanji {
  margin-top: 10px;
  padding: 0.1em;
  border: 2px solid black;
  background-color: tan;
}

.kanaTest {
  display: grid;
  width: 60%;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

.kanaText {
  font-size: 2.2em;
  font-weight: bold;
}

.kanaDiv {
  boder: solid 3px blue;
}

.kanaDiv > button {
  margin: 2em;
  padding: 2em;
}
